html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


.resume-section {
    padding-top: 10vh;
}
.heading{
  font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
    color: #165994
}
/** Home Styles*/

i {
  margin-right: 0.5rem; 
  font-size:1rem;
  color: #165994;
}
.skill {
	margin-right: 0.3rem;

}
.resume-cat {
	font-weight: bold;
}
.subheading {
  text-transform: capitalize;
  font-weight: 0;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
}
/*.push_left{
	margin-left: 0.5rem;
}*/

.small {
	font-size: 1rem;
	text-align: justify;
		}
.card-link{
	position: relative;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 20%;
  height: 30px;
  background-color: green;
}
.length{
	width:20rem;
}

  @media (min-width:768px) and (max-width:900px) {

   .length {
    width: 15rem;
    margin-bottom: 1rem;
  }

  i {
    margin-right: 0.5rem; 
    font-size: 10px;
  }
  .socials {
    font-size: 0.50rem;
    font-weight: bold;
  }
  
  }



@media (max-width:768px) {

.heading {
  font-weight: bold;
  font-size: 0.80rem !important;

}
  .length {
	width: 100%;
	margin-bottom: 1rem;
}

.resume-section {
	padding-top: 10vh;
	margin-bottom:3rem;

}
.card-img-overlay h3{
	font-size: 20px;

}

i {
  margin-right: 0.5rem; 
  font-size:5px;
}
.socials{
	font-size:0.60rem;
	font-weight: bold;
}

.text-primary{
  font-size: 0.8rem !important;
}

}

.badge-primary {
    color: #fff;
    background-color: #165994;
}
.text-primary {
    color: #165994!important;
}
.bg-dark {
    background-color: #165994!important;
}


.card {
    box-shadow: 6px 7px 0px 0px rgba(61, 61, 65, 0.41);
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(247, 245, 245);
}
.progress-bar {

	background-color: #165994
	}
/*
.navbar-dark .navbar-nav .nav-link {
    color: white;
    
}


.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: white;
}


*/