<div class="card" ng-controller="ExpCtrl">
	<div class="card-body">	
	<div ng-repeat="exp in expName">
	<div class="card-title push_left">
	<h5>{{exp.title}} 
			<span class="text-primary float-right">{{exp.duration}}</span>
		</h5>
		<div class="card-subheading mb-2 text-muted">{{exp.location}}</div>
		</div>
		<ul class="list-group" ng-repeat="description in exp.description">
  			<li class="list-group-item">{{description}}</li>
 		</ul>	
 		</div>
</div>
</div>


<!-- <ul>

<li ">
	{{exp.title + ', ' + exp.location+','+exp.description }}

</li>
</ul> -->