
<div class="card">
	
<div class="card-header" style="margin-bottom:1rem;">Skills</div>


<div class="row">
	
<div class="col-md-6" ng-repeat="skill in skills">


<div class="card-body" style="margin-bottom:1rem; width:100%;margin-left: 0.10rem">
	
<div class="card-header" style="margin-bottom:0.25rem;">{{skill.type}}</div>
	
<ul class="container" ng-repeat="lang in skill.value_hash">
  <div class="progress-bar" role="progressbar" ng-style="{'width': '{{lang.width}}'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{lang.langName}}</div>
</ul>

</div>

</div>
</div>



<!-- <ul ng-repeat="lang in skill.value">
	<li>{{lang}}</li>
</ul>
 -->
</div>
<!-- 
<div class="card" >

	 <div class="card-header">
   Skill
  </div>
	<div class="card-body">

		<div class="resume-cat"ng-repeat="skill in skills">
		{{skill.type}}
			<p class="card-text"><span class="badge badge-pill badge-primary skill" ng-repeat="lang in skill.value">{{lang}}</span></p>
		</div>


	


 -->